body {
    background-image: url("/public/patternpad.svg");
}

#root {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    color: black;
    border-bottom: 1px black solid;
}

header a {
    padding: 10px;
    font-size: large;
    color: black;
    text-decoration: none;
}

main {
    text-align: center;
    margin: 20px auto;
}


footer, footer a {
    background-color: #3a86ff;
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
    font-size: xx-small;
    padding: 40px;
}

.App {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto max-content;
    min-height: 100%;
}

header div {
        align-self: center;
}

header .link {
    color: white;
    padding: 2px;
    border-radius: 3px;
    margin: auto 5px;

}

header .link.help {
    background-color: #ff006e;
}

header .link.feedback {
    background-color: #3a86ff;
}
